@import "tailwindcss";

@theme{
  /* Cores Primárias */
    --color-bg-primary: #121212;
    --color-bg-secondary: #1E1E1E;
    --color-bg-tertiary: #2D2D2D;
    --color-text-primary: #FFFFFF;

    /* Cores de Destaque (Gradientes) */
    --color-gradient-start: #4A2480;
    --color-gradient-middle: #B91372;
    --color-gradient-end: #A01A58;

    /* Cores Funcionais */
    --color-text-secondary: #AAAAAA;
    --color-border: #666666;
    --color-success: #2E7D32;
    --color-error: #C62828;

    /* Variáveis de Contraste */
    --contrast-mode: default;
    --colorblind-filter: none;

    /* Tamanhos e Espaçamentos */
    --sidebar-width: 260px;
    --header-height: 70px;
    --border-radius: 12px;
    --card-padding: 20px;
    --transition-speed: 0.3s;

    /* Sombras */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.3);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.4);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.5);


}

.shadow-var-sm {
  box-shadow: var(--shadow-sm);
}
@media (min-width: 768px) {
  .shadow-var-sm {
    box-shadow: var(--shadow-md);
  }
}
@media (min-width: 1024px) {
  .shadow-var-sm {
    box-shadow: var(--shadow-lg);
  }
}


:root{


    .bg-gradient-45 {
  background: linear-gradient(
    45deg,
    var(--color-gradient-start),
    var(--color-gradient-middle),
    var(--color-gradient-end)
  );}
}
